<%- contentFor('HeaderCss') %>
<%-include("partials/title-meta", {"title": "Courier Partner" }) %>

<%- contentFor('body') %>
<%-include("partials/page-title", {"pagetitle": "Toner", "title": "Courier Partner"}) %>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5>Toner Logistics</h5>
      </div>
    </div>
  </div>
</div>
<%- contentFor('FooterJs') %>