<%- include ('../partials/main') %>

<head>
  <%- HeaderCss %>
  <%- include ('../partials/head-css') %>
</head>

<%- include ('../partials/body') %>
<%- include ('../partials/top-tagbar') %>
<%- include ('../partials/topbar-fluid') %>
<%- body%>
<%- include ('../partials/footer-fluid') %>
<%- include ('../partials/vendor-scripts') %>
<%- FooterJs %>
</body>

</html>